body {
    margin: auto;
}

*{
  
    box-sizing: border-box;  
    
}
.antraste {
    display: flex;  
    justify-content: center;         
    background-color: rgb(240, 203, 84);
    color: white;
       
}
.nuorodos-gaubimas {

    display:flex;    
    align-items: center;
    height:auto;  
    padding: 10px;
    background-color: rgb(199, 194, 194);
    gap: 10px ;
    
}
.nuorodos-mygtukai {
    display: flex;
    align-items: center;  
    height: 50px;    
    background-color: white;
    border: 2px solid black;
    flex-grow: 1;
    

} .pats-mygtukas {
    display: block; 
    width: 100%;
    line-height: 50px;         
    text-decoration: none;
    color: black;
    font-size: x-large; 
    text-align: center;          

}
.nematomas-bruksnys {
    color: white;
}
.paveikslus-gaubiantis1 {
    padding-left: 14px;
    padding-right: 14px;
    background-color:rgb(139, 138, 138) ;
}
.paveikslus-gaubiantis {
    display: flex;   
    width: 100%;
   
    background-color: rgb(139, 138, 138);
   
    gap: 7px;
   
}
.paveikslas-text-nuoroda {
    display: flex;
    flex-direction: column;    
    background-color: white;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;    
}
.paveikslas {
    
    width: 100%;
    height: 250px;
    padding: 14px;     
}
.tekstas {
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    font-size: larger;
    font-weight: bold;
    flex-grow: 1;     

}
.nuoroda {   
    display: flex;     
    align-items: center;
    background-color:rgb(199, 194, 194);
    border: 2px solid black;   
    margin: 20px;    
    height: 45px;
}
.paveikslo-mygtukas {
    display: block;   
    width: 100%;   
    line-height:45px ;          
    text-decoration: none;
    color: black;
    font-size: large;
    text-align: center;
 
}
.apacia {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 203, 84);
    color: white;

}